[submodule "AALTO-BSc-Thesis-XRL-Backend"]
	path = AALTO-BSc-Thesis-XRL-Backend
	url = git@github.com:aaron-r-campbell/AALTO-BSc-Thesis-XRL-Backend.git
[submodule "AALTO-BSc-Thesis-XRL-Client"]
	path = AALTO-BSc-Thesis-XRL-Client
	url = git@github.com:aaron-r-campbell/AALTO-BSc-Thesis-XRL-Client.git
